body{
  background-color: lightgray;
}
header{
  text-align: center;
  color: teal;
  font-size: 60px;
  font-family: fantasy;
  outline: 10px solid;
  outline-color: black;
  outline-offset: 25px;
}
#pan{
  position: absolute;
  top: 125;
  left: 7;
  background-color: rgb(157, 157, 116);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif
}
#canned{
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 50%;
  text-align: center;
  background-color: antiquewhite;
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  top: 200;
  left: 7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif
}
#dry{
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 50%;
  text-align: center;
  background-color: antiquewhite;
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  top: 200;
  left: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif
}
ul{
  background-color: antiquewhite;
  text-align: left;
}
ol{
  background-color: antiquewhite;
  text-align: left;
}
#ref{
  position: absolute;
  top: 425;
  left: 7;
  background-color: rgb(157, 157, 116);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif
}
#protein{
  border: 2px solid;
  padding: 15px;
  height: auto;
  width: 20%;
  text-align: center;
  background-color: antiquewhite;
  max-width: fit-content;
  max-height: fit-content;
  position: absolute; 
  top: 500;
  left: 7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif

}
h1{
  text-align: left;
  color: rgb(68, 7, 83);
  border: 5px solid;
}
#veg{
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 50%;
  text-align: center;
  background-color: antiquewhite;
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  top: 500;
  left: 250;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif
}
#pepper{
  position: absolute;
  top: 200;
  left: 400;
}
#wagyu{
  position: absolute;
  top: 500;
  left: 450;
}
a:visited{
  color: purple;
}
a:hover{
  color: red;
}
